* {
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

body{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/b/b8/Pass_the_pigs_dice.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    /*min-height: 400;*/
    justify-content: center;
    align-items: center;
}

h2 {
    margin: 6px;
    margin-left: 70px;
    margin-right: 70px;
    font-size: 30px;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    text-decoration-color: deeppink;    
    background-color: beige;
    border-color: darkgray;
    border: solid;
    border-radius: 9px;
}
div{
    margin-left: 6px;
}
input{
    margin-left: 16px;
    width: 100px;
    text-align: left;
    border-left: 20px;
    font-size: 14px;
    padding: 4px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.points{
    margin-left: 2px;
    width: 50px;
}

.read-only{
    user-select: none;
}
.add-player{
    background: lightgreen;
}
.add-player:hover{
    background: darkgreen;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease;
}
button {
    padding-top: 6px;
    padding: 4px;
    font-size: 14px;
    background: white;
    justify-content: center;
    align-items: center;
    border-radius: 9px
    
}
button:hover {
    background: #8c8c8c;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}
.clear {
    padding: 4px;
    font-size: 14px;
    background: lightsalmon;
    justify-content: center;
    align-items: center;
    
}
.clear:hover {
    background: red;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease;
}
.remove {
    padding: 4px;
    font-size: 14px;
    background: darkred;
    justify-content: center;
    align-items: center;
    
}
.remove:hover {
    background: red;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease;
}


